@import "../../styles/reset.scss";
@import "../../styles/mixins";

.diary_detail_wrap {
    @include wrap;
    background-color: #063DD9;//#fff;
    border: 1px solid #000;
    font-style: 'Open Sans', sans-serif;
    color: #fff;
    position: relative;
    .diary_detail_header {
        //border: 1px solid red;
        border-bottom: 2px solid #fff;
        width:90%;
        margin: 10px auto;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
       .diary_detail_date {
          //font-family: 'Cormorant', serif;
          font-size: 20px;
          font-weight: bold;
       }
       .detail_btn_container {
           display: flex;
           justify-content: space-between;
           font-size: 20px;
          
           .edit_btn, .delete_btn{
               display: flex;
               cursor: pointer;
               border: none;
               outline: none;
               background-color: transparent;
               font-style: 'Open Sans', sans-serif;
               font-size: 16px;
               font-weight: bold;
               color: #fff;
           }
           .delete_btn{
               margin-left: 10px;
           }
       }
    }
    .diary_detail_emotion {
        font-size: 20px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .diary_detail_section {
        width: 90%;
        margin: 20px auto;
        .detail_article, .edit_article {
            //border: 1px solid red;
            padding: 10px;
            margin-bottom: 30px;
            .detail_question, .edit_question {
                font-weight: bold;
                font-size: 20px;
            }
            .edit_question {
                color: #000;
            }
            .detail_answer {
                margin-top: 10px;
                font-size: 18px;
            }
        }
        .edit_article {
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #dadada;
            .edit_textarea{
                width: 100%;
                background: transparent;
                height: 100px;
                font-size: 15px;
                border: none;
                margin-top: 10px;
                font-weight: bold;
            }
        }
    }
    .diary_detail_footer {
       position: absolute;
       left: 5%;
       bottom: 5%;
        .confirm_btn {
            font-size: 30px;
            border:none;
            outline:none;
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: 0.4s;
            &:hover {
                background: #ED3A1E;
                border: none;
            }
        }
    }
    .modifying_edit {
        display: none;
    }
}