@import "../../styles/reset.scss";
@import "../../styles/mixins";

.today_info_wrap {
    margin-top: 5%;
    width: 90%;
    //height: 230px;
    background-color: #fff;//#063DD9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.4s;
    padding-bottom: 10px;
    //border: 2px solid #fff;
    //align-items: center;
    &:hover{
        background-color: #ED3A1E;
        //border: 2px solid #ED3A1E;
    }
    .date_section {
        width: 90%;
        margin: 0 auto;
        display: flex;
        border-bottom: 2px solid #063DD9;
        .today {
            width: 50%;
            height: 100%;
            //border: 1px solid yellow;
            font-weight: 800;
            color:#063DD9;//#ED3A1E;
            font-size: 120px;//140px;
        }
        .day_info {
            width: 50%;
            height: 100%;
            //border: 1px solid green;
            display: flex;
            flex-direction: column;
            align-items: center;
            .month {
                width: 90%;
                height: 50%;
                //border: 1px solid green;
                color: #063DD9;//#fff;
                font-weight: 800;
                font-size: 33px;//35px;
                padding-top: 20px;
                letter-spacing: -4px;
                text-transform: uppercase;
            }
            .other_day{
                width: 90%;
                height: 50%;
                //border: 1px solid green;
                font-weight: 800;
                color:#063DD9;
                font-size: 60px;
               
            }
        }
        
    }
    .start_section{
        font-weight: 800;
        font-size: 35px;
        width: 90%;
        margin: 0 auto;
        color:#063DD9;
        margin-top: 10px;
    }
}