@import "../../styles/reset.scss";
@import "../../styles/mixins";

.question_wrap {
    @include wrap;
    background-color: #ED3A1E;;
    //border: 1px solid blue;
    justify-content: center;
    align-items: center;
    position: relative;
    .progress_bar{
        width: 80%;
        height:5px;
        background: #fff;
        position: absolute;
        top: 5%;
        left: 10%;
        .current_progress2{
            width:66%;
            height:100%;
            background-color: #2c2c2c;
            animation-name: progress2;
            animation-duration: 0.4s;
        }
    }
    .question_header_section{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        //margin-top: 15%;
        p {
            font-weight: bold;
            font-size: 28px;
            color: #fff;
            //width: 80%;
        }
    }
    .question_answer_section{
        height:400px;
        width: 80%;
        margin-top: 50px;
        //padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .answer_header {
            width: 90%;
            height: 30px;
            text-transform: uppercase;
        }
        .answer {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 20px;
            height: 100%;
           
        }
    }
    // .post_btn {
    //     width: 90%;
    //     height: 30px;
    //     background: #ED3A1E;
    //     font-size: 15px;
    //     cursor: pointer;
    //     margin-top: 20px;
    //     border: none;
    // }
    .complete_btn {
        width:50px;
        height:50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        position: absolute;
        right: 10%;
        bottom: 5%;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
            background-color: gold;
        }
    }
}

@keyframes progress2 {
    from{
        width:33%;
    }
    to {
        width:66%;
    }
}