@import "./styles/reset.scss";
@import "./styles/base";
@import "./styles/mixins";

.app_wrap {
    width: 375px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Cormorant', serif;
}